# Dependencies
node_modules/
.pnp
.pnp.js

// ignore .env in git but keep .env.example
.env
frontend/.env

# Build outputs
dist/
build/
.next/

# Prisma generated
backend/node_modules/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/

# Vite
frontend/dist/
